*
{
margin: 0px auto;
}
html, body
{
height: 100%;
}
body
{
background-color: #E6E6E6;
color: #000050;
font-family: arial;
font-size: 150%;
}

.center
{
text-align: center;
}
.hpadded
{
padding-left: 100px;
padding-right: 100px;
}
.vpadded
{
padding-top: 20px;
padding-bottom: 20px;
}
.bpadded
{
padding-bottom: 20px;
}

table { table-layout: fixed; }
td { width: 33%; }
#header
{
padding-bottom: 10px;
}

#name
{
padding: 25px 0px 25px;
}

#container
{
min-height: 100%;
margin: 0 auto -70px;
}

#footer, #push
{
height: 60px;
padding-top: 10px
}

a:link
{
color: #FF6600;
text-decoration: none;
font-weight: normal;
}
a:visited
{
color: #FF6600;
text-decoration: none;
font-weight: normal;
}
a:hover
{
color: #FF6600;
text-decoration: underline;
font-weight: normal;
}
a:active
{
text-decoration: bold;
}

ul
{
list-style-type:none;
padding:0;
margin:5px 20px;
}
